@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/* 
*******************************************************
GENERAL 
*******************************************************
*/
:root {
  --primary-color: #163b59;
  --second-color: #f5f9ff;
  --third-color: #44baf5;
  --bg-primary-color: rgb(246, 245, 245, 0);
  --bg-second-color: rgb(207, 182, 182, 1);
}

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #163b591a;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

li {
  list-style: none;
}

.section {
  width: 100vw;
  height: 100vh;
}

#projects,
#about {
  padding-top: 50px;
}

#projects h1,
#about h1,
.contact-summary h1 {
  font-size: 50px;
  color: var(--third-color);
  display: flex;
  justify-content: center;
}

#projects h1 span,
#about h1 span,
.contact-summary h1 span {
  color: var(--third-color);
  text-decoration: underline;
}

*, *::before, *::after {
  box-sizing: border-box; /* Ensures padding and borders are included within the width */
}

/*
*******************************************************
NAV BAR 
*******************************************************
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 65px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.452);
  color: var(--second-color);
  z-index: 4;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
}

.toggle-icon {
  max-width: 25px;
  cursor: pointer;
}

.logo-img {
  margin-left: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.portfolio-img {
  width: 140px;
  height: 30px;
  align-self: center;
  padding-left: 50px;
}

.navigation {
  display: flex;
  font-size: 20px;
  width: 100vw;
  height: 100%;
  justify-content: center;
  z-index: 1000;
}

.navigation ul {
  display: flex;
  gap: 35px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.navigation ul:last-child {
  margin-right: 0;
}

.listitem {
  cursor: pointer;
  justify-self: left;
}

.navigation ul li > .active {
  font-weight: bold;
}

/* 
*******************************************************
HOME PAGE 
*******************************************************
*/
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to right, var(--primary-color), #141414, black);
}

.background-lines {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-lines img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Ensures the SVG covers the entire component */
  z-index: 1;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 65px;
}

.home-text {
  color: var(--second-color);
  font-weight: bold;
  z-index: 1;
}

.home-text p {
  font-size: 150%;
  color: var(--third-color);
}

.home-text p:first-child {
  font-size: 170%;
  color: var(--second-color);
}

.self-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bi-github {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.work-arrow {
  color: var(--second-color);
  text-decoration: none;
  position: absolute;
  bottom: 30px; /* Position the arrow near the bottom of the section */
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
  animation: bounce 2s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.arrow {
  width: 0; 
  height: 0;
  border-left: 10px solid transparent; /* Adjust size as needed */
  border-right: 10px solid transparent; /* Adjust size as needed */
  border-top: 10px solid var(--second-color); /* Color of the arrow */
}

/* 
*******************************************************
ABOUT ME PAGE
*******************************************************
 */
#about {
  height: 60%;
}

.elevator-pitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 20px;
  background: linear-gradient(to right, var(--primary-color), #505d68b2, #163b59b2);
}

.elevator-pitch a {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}

.elevator-pitch a:hover {
  text-decoration: underline;
}

#about p {
  width: 50%;
  text-align: justify;
  color: whitesmoke;
}

.elevator-pitch p {
  text-align: center !important;
}

.about-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  margin-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
  gap: 20px;
}

.about-cards .card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.about-cards .card .card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 15px; /* Space between the image and the body */
}

.about-cards .card .card-img .icon-img {
  width: 100%;
  height: 100%;
}

.about-cards .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1; /* Make the body take up remaining space */
}

.about-cards .card-description {
  text-align: justify;
  font-size: 1em;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contacts-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  position: absolute;
}

/* 
*******************************************************
PROJECTS PAGE
*******************************************************
 */
#projects {
  height: 100vh;
}

.project-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  background: linear-gradient(to right, var(--primary-color), #505d68b2, #163b59b2);
}

.project-summary p {
  font-size: 20px;
  width: 50%;
  text-align: center;
  color: whitesmoke;
}
 
.project-cards {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 9%;
 }

.project-cards .card {
  background-color: white !important;
  text-align: justify;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: auto;
}

.project-cards .card:hover {
  transform: scale(1.07);
  transition: 0.3s ease-in-out;
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.project-cards .card,
.project-cards .card p {
  display: flex;
  width: 250px;
  padding: 10px;
  padding-top: 0;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 250px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-cards .card:nth-child(5) {
  grid-row: 1 / 3;
  grid-column: 3 / 3;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.project-cards .card:nth-child(5) .card-img {
  height: 440px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.project-card-buttons {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-deploy {
  width: 100%;
  align-self: flex-end;
}

.project-deploy a {
  font-weight: bolder;
  color: var(--primary-color);
}

.project-deploy a:hover {
  text-decoration: none;
}

.project-button {
  border: none;
  text-decoration: none;
  width: 25px;
  height: 25px;
  color: var(--primary-color);
  margin-top: 10px;
  background-color: transparent !important;
  cursor: pointer;
}

.footnote-container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: auto;
  height: 20px;
  margin-right: 7px;
}

.footnote-name {
  font-size: 15px;
  margin-left: 3px;
}

.card-techs {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto a new line */
}

.card-techs > * {
  margin-right: 10px;
  margin-top: 10px;
}

/* 
*******************************************************
CONTACT PAGE
*******************************************************
 */
#contact {
  padding-top: 65px;
  height: 100vh;
}

.contact-content {
  width: 100vw;
  height: 100%;
  background: linear-gradient(to right, var(--primary-color), #505d68b2, #163b59b2);
  background-image: url('assets/img/contact-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-items: center;
}

.contact-summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-summary p {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 290px;
}

.contact-form label {
  margin-bottom: 3px;
}

.contact-form input,
.contact-form textarea {
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input {
  height: 30px;
}

.contact-form p {
  color: white;
}

/* 
*******************************************************
FOOTER
*******************************************************
*/
.footer-container {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #30516d;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer-copy, 
.footer-social {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.link-impressum {
  color: black;
  font-weight: bold;
}

/* 
*******************************************************
IMPRESSUM
*******************************************************
*/
.impressum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.nav-impressum {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 40px;
  padding: 5px;;
  background-color: rgba(0, 0, 0, 0.452);
}

.nav-impressum a {
  color: white;
}

.impressum-content {
  overflow-x: scroll;
}

.impressum-content a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-right: 20px;
  }

  .navigation {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s linear;
    z-index: 1000;
  }

  .navigation.open {
    height: 240px;
    max-height: 240px; /* Adjust based on your needs */
  }

  .navigation ul {
    padding: 10px 0;
    flex-direction: column;
  }

  .navigation ul li a {
    font-size: 15px;
  }

  .navbar-toggle .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggle .bar.open:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

@media (max-width: 1315px) {
  .project-cards {
    grid-template-columns: 1fr 1fr 1fr;
   }

   .project-cards .card:nth-child(5) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
}

@media (max-width: 925px) {
  .project-cards {
    grid-template-columns: 1fr;
   }

   .project-cards .card:nth-child(5) {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-summary p {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {

  .homepage {
    grid-template-columns: 1fr;
  }

  .home-text {
    font-size: smaller;
  }
}

@media (max-width: 445px) {

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 70px;
  }
}

@media (max-height: 660px) {
  .work-arrow {
    display: none;
  }

  .self-photo {
    width: 150px;
    height: 150px;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}